///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

.u-bold{
	font-weight: bold;
}
.u-pink{
	color: #ff1e5b;
}
.u-strike{
	background: linear-gradient(to left top, transparent 47.75%, rgb(255,30,91) 49.5%, rgb(255,30,91) 50.5%, transparent 52.25%);
}