@charset 'utf-8';

//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// define
//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
@import '0_base/vars';
@import '0_base/reset';
@import '0_base/mixin';
@import '0_base/develop';

@media (min-width: 768px) {
	.sp-only {
		display: none;
	}
}

@include sp {
	.pc-only {
		display: none;
	}
	img{
		max-width: 100%;
		height: auto;
	}
}

//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
@import '1_layout/header';
@import '1_layout/footer';
@import '1_layout/side';
@import '1_layout/breadcrumb';
@import '1_layout/layout';

//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
@import '2_component/01_btn';
@import '2_component/02_title';
@import '2_component/03_icon';
@import '2_component/04_form';
@import '2_component/05_text';
@import '2_component/06_navi';
@import '2_component/07_img';
@import '2_component/08_list';
@import '2_component/09_table';
@import '2_component/10_line';
@import '2_component/11_video';
@import '2_component/12_slide';
@import '2_component/99_other';

//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡


//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// utility .u-
//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
@import '0_base/utility';

/*p-index1
------------------------------------------------------------*/
.p-index1{
	position: relative;
	&__tour{
		background: url(/assets/image/common/bg-tour.jpg);
		padding:54px 0 130px;
		@include sp{
			padding:30px 10px 50px 10px;
			margin-top: -41px;
		}
	}
	&__campaign{
		position: absolute;
		top:-202px;
		z-index: 1;
		background:url(/assets/image/common/bg-campaign.png) no-repeat left;
		width: 586px;
    	height: 920px;
		@include sp{
			position: relative;
			top:-22px;
			left:unset;
			background:url(/assets/image/common/bg-campaign-sp.png) no-repeat center;
			text-align: center;
			height: 148px;
			width: 100%;
			background-size: 100% 100%;
			display: flex;
    		justify-content: center;
    		align-items: center;
		}
	}
	&__campaigntext{
		color:#fff;
		position: absolute;
    	top: 142px;
    	left:78px;
    	@include sp{
    		position: relative;
    		display: flex;
    		flex-direction: column;
    		justify-content: center;
    		align-items: center;
    		top:0;
    		left:0;
    	}
		h2{
			font-size: 6.0rem;
			font-style: italic;
			font-family: Roboto;
			@include sp{
				font-size: 3.0rem;
			}
		}
		span{
			font-size: 3.0rem;
			font-family: NotoSansCJKip Light;
			@include sp{
				font-size: 1.6rem;
			}
			img{
				margin-top: 6px;
				margin-right: 15px;
				@include sp{
					margin-right: 8px;
				}
			}
		}
	}
}
/*p-index2
------------------------------------------------------------*/
.p-index2{
	padding:120px 0 130px;
	@include sp{
		padding:50px 0 48px;
	}
	.c-title1{
		margin-bottom: 50px;
		@include sp{
			margin-bottom: 35px;
		}
	}
}
/*p-index3
------------------------------------------------------------*/
.p-index3{
	background:url(/assets/image/common/bg-reservation.png) no-repeat;
	height: 765px;
	background-size: cover;
	@include sp{
		background:url(/assets/image/common/bg-reservationsp.png)top center no-repeat;
		background-size:100% 100%;
	    height: 561px;
	    padding-bottom: 137px;
	}
	.l-container{
		width: 880px;
		@include sp{
			width: 100%;
		}
	}
	h2{
		text-align: center;
		padding-top: 168px;
		@include sp{
			padding-top: 70px;
		}
	}
	p{
		text-align: center;
		font-size: 1.8rem;
		color: #fff;
		padding-top: 56px;
		@include sp{
			padding-top: 25px;
			font-size: 1.2rem;
		}
	}
	&__btn{
		display: flex;
		 justify-content: center;
		 margin-top: 26px;
		 @include sp{
		 	  flex-direction: column;
    		align-items: center;
    		 margin-top: 25px;
		 }
		 .c-btn2{
		 	margin-right: 38px;
		 	@include sp{
		 		margin-right: 0;
		 		margin-bottom: 10px;
		 	}
		 }
	}
	&__text{
		text-align: right;
	    width: 878px;
	    margin: 0 auto;
	    color: #fff;
	    @include sp{
	    	width: 100%;
	    	text-align: center;
	    }
		p{
			text-align: center;
		    width: 420px;
		    float: right;
		     font-size: 1.2rem;
		     padding-top: 13px;
		     @include sp{
		     	float:none;
		     	width: 100%;
		     	font-size: 1.0rem;
		     }
		}
	}
}

/*p-index4
------------------------------------------------------------*/
.p-index4{
	padding-bottom: 120px;
	margin-top:  -10px;
	@include sp{
		padding: 40px 0 50px;
		margin-top:  0px;
	}
}

/*p-index5
------------------------------------------------------------*/
.p-index5{
	padding-bottom: 110px;
	@include sp{
		padding-bottom: 50px;
	}
}
/*p-index6
------------------------------------------------------------*/
.p-index6{
	padding-bottom: 100px;
	@include sp{
		padding-bottom: 40px;
	}
	&__title{
		font-size: 5.6rem;
		color: #202020;
		font-weight: normal;
		@include sp{
			font-size: 2.8rem;
			text-align: center;
		}
	}
	&__content{
		padding-top: 40px;
		display: flex;
		background: url(/assets/image/common/bg-access.png) no-repeat right 70px top 23px;
		@include sp{
			background:none;
			flex-direction: column;
			margin: 0 20px;
			padding-top: 47px;
		}
	}
	&__map{
		width: 1103px;
		height: 479px;
		@include sp{
			width: 100%;
			height: 240px;
		}
		#map{
			width: 100%;
			height:100%;
		}
	}
	&__address{
		width: 820px;
		@include sp{
			width: 100%;
		}
	}
	&__text{
		background: #10222b;
	    width: 770px;
	    float: right;
	    margin-top: -96px;
	    height: 417px;
	    padding-top: 81px;
	    padding-bottom: 74px;
	    padding-left: 57px;
	    z-index: 99;
	    @include sp{
	    	width: 100%;
	    	float: none;
	    	margin-top: 0;
	    	padding: 20px 16px;
	    	height: auto;
	    }
	    table{
	    	width: 479px;
    		border-collapse: collapse;
    		@include sp{
    			width: 100%;
    		}
	    }
	    tr{
	    	border-bottom: 1px solid #636f75;
	    }
	    tr:last-child{
	    	border-bottom:0px;
	    }
	    td{
	    	font-size: 1.5rem;
		    color: #ffffff;
		    padding-top: 10px;
		    padding-bottom: 10px;
		    vertical-align: text-top;
		    font-weight: bold;
		    line-height: 20px;
		    @include sp{
		    	display: block;
		    	text-align: center;
		    	font-weight: normal;
		    	font-size: 1.2rem;
		    	line-height: 15px;
		    }
	    }
	    td:first-child{
	    	width: 165px;
		    position: relative;
		    line-height: 20px;
		    @include sp{
		    	width: 100%;
		    	line-height: 0;
		    	font-weight: bold;
		    	padding-top: 15.5px;
		    	padding-bottom: 10px;
		    	font-size: 1.4rem;
		    }
		    img{
		    	margin-right: 5px;
		    	margin-top: 4px;
		    }
		    span{
		    	  display: inline-flex;
		    }
	    }
	}
}