/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/

/*c-breadcrumb
------------------------------------------------------------*/
.c-breadcrumb{
	ul{
		display: flex;
		justify-content: flex-end;
    	margin-right: 52px;
	}
	li{
		margin-left: 42px;
		padding:40px 0;
	}
	a{
		text-decoration: none;
		color: #3c3c3c;
		font-size: 1.8rem;
		position: relative;
		padding-left: 24px;
		display: block;
		&:before{
			content: "";
			background:url(/assets/image/common/icon-arrow.png);
			width: 15px;
			height: 9px;
			position: absolute;
		    top: 9px;
		    left: 0;
		}
	}
}