/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*c-footer1
------------------------------------------------------------*/
.c-footer{
	position: relative;
}
.c-scroll-top{
	position: fixed;
	bottom:116px;
	right:70px;
	z-index:999;
	cursor: pointer;
	@include sp{
		right:20px;
		bottom:40px;
	}
}

/*c-footer1
------------------------------------------------------------*/
.c-footer1{
	padding: 100px 0 94px 0;
	background:#eeeeee;
	@include sp{
		padding: 40px 0;
	}
	h2{
		text-align: center;
		span{
			display: block;
			color:#666666;
			font-size: 3.2rem;
			font-weight: normal;
			padding-top:  7px;
			@include sp{
				font-size: 1.6rem;
				padding-top:  0px;
			}
		}
	}
	dl{
		a{
			display: flex;
			color: #404040;
			font-size: 1.5rem;
			justify-content: center;
			margin-top: 45px;
			    text-decoration: none;
			@include sp{
				flex-direction: column;
			    align-items: center;
			    font-size: 1.2rem;
			    text-align: center;
			    margin-top: 22.5px;
			}
		}
	}
	dt{
		margin-right: 18px;
	}
}

/*c-footer2
------------------------------------------------------------*/
.c-footer2{
	background:#33c49d;
	text-align: center;
	padding: 50px 0 55px;
	@include sp{
		padding:30px 20px;
	}
	p{
		font-size: 1.5rem;
		color:#fff;
		line-height: 24px;
		margin-top: 27px;
		@include sp{
			font-size: 1.2rem;
			line-height: 15px;
			margin-top: 22.5px;
		}
	}
}
/*c-footer3
------------------------------------------------------------*/
.c-footer3{
	background:#3c3c3c;
	text-align: center;
	padding: 11px 0 12px;
	@include sp{
		padding: 10px 0 ;
	}
	p{
		color: #fff;
		font-size: 1.2rem;
		@include sp{
			font-size: 1.0rem;
		}
	}
}

