/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*c-header
------------------------------------------------------------*/
.c-header{
	position: relative;
}
/*c-header1
------------------------------------------------------------*/
.c-header1{
	img{
		width: 100%;
	}
}

/*c-header2
------------------------------------------------------------*/
.c-header2{
	position: absolute;
	top:226px;
	right:113px;
	@include sp{
		top:0;
		right:unset;
		width: 100%;
		img{
			width: 100%;
		}
	}
}
