/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*l-container
------------------------------------------------------------*/
.l-container{
	width: 1440px;
	margin: auto;
	@include sp{
		width: 100%;
	}
}
/*body
------------------------------------------------------------*/
body {
    min-width: 1500px;
    @include sp{
    	min-width:320px;
    }
}

