/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*c-btn1
------------------------------------------------------------*/
.c-btn1{
	text-align: center;
	position: relative;
    z-index: 2;
}
/*c-btn2
------------------------------------------------------------*/
.c-btn2, .c-btn3{
	width: 420px;
	height:90px;
	border:1px solid #fff;
	text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    position: relative;
    background: rgba(111, 107, 87, 0.6);
    display: block;
    text-align: center;
    @include sp{
    	width: 260px;
    	height:50px;
    }
    &:hover{
    	color:#333;
    	background: #fff;
    }
}

.c-btn2{
	font-size: 2.1rem;
	line-height: 90px;
	@include sp{
		line-height: 50px;
		font-size: 1.4rem;
	}
	&:before{
		content: "";
	    background: url(/assets/image/common/icon-calendar-white.png) no-repeat;
	    width: 19px;
	    height: 20px;
	    position: absolute;
	    top: 34px;
	    left: 50%;
	    margin-left: -101px;
	    @include sp{
	    	top: 16px;
		    left: 50%;
		    margin-left: -75px;
		    background-size: 85%;
	    }
	}
	&:hover:before{
		 background: url(/assets/image/common/icon-calendar-black.png) no-repeat;
		 @include sp{
		 	 background-size: 85%;
		 }
	}
}

.c-btn3{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:before{
			content: "";
		    background: url(/assets/image/common/icon-phone-white.png) no-repeat;
		    width: 19px;
		    height: 19px;
		    position: absolute;
		    top: 47px;
		    left: 50%;
		    margin-left: -140px;
		    @include sp{
		    	top: 28px;
			    left: 50%;
			    margin-left: -78px;
			    background-size: 80%;
		    }
		}
		&:hover:before{
			 background: url(/assets/image/common/icon-phone-black.png) no-repeat;
			 @include sp{
			 	background-size: 80%;
			 }
		}
	&__text{
		font-size: 1.5rem;
		@include sp{
			font-size: 1.4rem;
		}
	}
	&__number{
		font-size: 2.7rem;
		@include sp{
			font-size: 1.3rem;
		}
	}
}