/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*c-title1
------------------------------------------------------------*/
.c-title1{
	text-align: center;
}

/*c-title2
------------------------------------------------------------*/
.c-title2{
	background: #10222b;
	color: #fff;
	font-size: 2.0rem;
	padding: 10px 0;
	width: 100%;
	font-weight: bold;
	text-align: center;
		@include sp{
			font-size: 1.6rem;
			padding: 15px 0;
	}
}