/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*c-navi
------------------------------------------------------------*/
.c-navi{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	@include sp{
    	flex-wrap: wrap;
    	margin: 25px 20px 0 20px;
	}
	&__item{
		width: 272px;
		height: 204px;
		position: relative;
		@include sp{
			width: 48%;
			height: auto;
			margin-bottom: 10px;
		}
		a{
			text-decoration: none;
			display: block;
		}
		img{
			@include sp{
				width: 100%;
			}
		}
	}
	&__item:last-child{
		@include sp{
			margin-bottom: 0px;
		}
	}
}