/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*c-imgtext1
------------------------------------------------------------*/
.c-imgtext1{
	width: 999px;
	margin: auto;
	border:1px solid #c8c8c8;
	padding: 30px;
	display: flex;
	margin-top: 46px;
	@include sp{
		margin-top: 25px;
	    flex-direction: column;
	    width: calc(100% - 20px);
	    padding: 15px;
	}
	&__img{
		margin-right: 30px;
		@include sp{
			margin-right: 0;
    		text-align: center;
		}
	}
	&__text{
		h3{
			font-size: 1.8rem;
			color:#3c3c3c;
			margin-top: 5px;
			@include sp{
				text-align: center;
				font-size: 1.6rem;
				margin-top: 12.5px;
			}
		}
		p{
			font-size: 1.5rem;
			padding: 10px 0;
			@include sp{
				font-size: 1.2rem;
				padding: 12.5px 0 28px;
			}
		}
	}
}