/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*c-list1
------------------------------------------------------------*/
.c-list1{
	display: flex;
	justify-content: space-between;
	position: relative;
    z-index: 3;
    margin-bottom: 26px;
    @include sp{
    	margin-bottom: 25px;
    	margin-top: 13px;
    }
    img{
    	@include sp{
    		width: 100%;
    	}
    }
    li{
    	@include sp{
    		width: 49%;
    	}
    }
}

/*c-list2
------------------------------------------------------------*/
.c-list2{
	width: 100%;
	border:1px solid #c8c8c8;
	display: flex;
   justify-content: center;
   margin-bottom: 40px;
   @include sp{
		border:0px;
		margin-bottom: 0;
	}
	li{
		padding: 30px 0;
		@include sp{
			padding: 20px 15px 30px 15px;
			width: 48%;
			img{
				width: 100%;
			}
		}
	}
	li:first-child{
		margin-right: 80px;
		@include sp{
			margin-right: 0;
		}
	}
}

/*c-list3
------------------------------------------------------------*/
.c-list3{
	dt{
		
		font-weight: bold;
		padding:22.5px 0 22.5px  15px;
		border-top:1px solid #c8c8c8;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		p{
			color: #3c3c3c;
			font-size: 1.8rem;
		}
		span{
			font-size: 1.0rem;
			color:#999999;
			margin-left: 26px;
		}
		&:before, &:after{
			width: 20px;
			height: 2px;
			right: 22px;
			content: '';
			display: block;
			position: absolute;
			margin: auto;
			background: #0080ae;
			top: 0;
			bottom: 0;
			transition: transform 400ms ease;
		}
		&:after {
			transform: rotate(90deg);
		}
		&.is-open:after {
			transform: rotate(180deg);
		}
		&:last-of-type{
			border-bottom:1px solid #c8c8c8;
		}
	}
	dd{
		padding:15px;
		border-top:1px solid #c8c8c8;
		display: none;
		&:last-of-type{
			border-bottom:1px solid #c8c8c8;
			border-top:0;
		}
	}
}

/*c-list4
------------------------------------------------------------*/
.c-list4{
	background: #f0f0f0;
	padding: 28px 28px 27px 30px;
	font-size: 1.5rem;
	@include sp{
			font-size: 1.2rem;
			padding: 15px;
		}
	li{
		position: relative;
		padding:0 0 8px 18px;
		@include sp{
			padding:0 0 4px 13px;
		}
		&:before{
			content:'';
			background: #33c49d;
			width: 7px;
			height: 7px;
			border-radius:100%;
			position: absolute;
			left:0;
			top: 8px;
			@include sp{
				width: 5px;
				height: 5px;
				top:6px;
			}
		}
	}
	li:last-child{
		padding-bottom: 0px;
	}
}