/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*c-table1
------------------------------------------------------------*/
.c-table1{
	width: 100%;
	border-collapse: collapse;
	border:1px solid #c8c8c8;
	font-size: 1.5rem;
	color:#3c3c3c;
	tr{
		border:1px solid #c8c8c8;
	}
	th{
		background: #dddddd;
		padding: 16px 0;
	}
	td{
		padding: 14px;
		line-height: 19px;
	}
	td:first-child,{
		font-weight: bold;
		padding-left: 32px;
	}
	td:nth-child(3), td:nth-child(4), td:nth-child(5){
		width: 284px;
		text-align: center;
	}
	td:nth-child(3){
		border-left:1px solid #c8c8c8;
		border-right:1px solid #c8c8c8
	}
	td:nth-child(4){
		border-right:1px solid #c8c8c8
	}
	tr:nth-child(even){
		background: #f8f8f8;
	}
}

/*c-table2
------------------------------------------------------------*/
.c-table2{
	width: 100%;
	border-collapse: collapse;
	border:1px solid #c8c8c8;
	font-size: 1.2rem;
	color:#3c3c3c;
	th{
		width: 40%;
		text-align: left;
		padding-left:15px;
		background: #fbfbfb;
		border:1px solid #c8c8c8;
	}
	td{
		width: 60%;
		border:1px solid #c8c8c8;
		padding: 19px 14px 15px 17.5px;
		line-height: 18px;
	}
}