/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*c-boxsp
------------------------------------------------------------*/
.c-boxsp{
	img{
		@include sp{
			width: 100%;
		}
	}
}
/*c-note
------------------------------------------------------------*/
.c-note{
	display: flex;
    margin-top: 19px;
	align-items:center;
	@include sp{
		flex-direction: column;
		padding:15px 15px 15px;
	}
	span{
		color: #fff;
		height:30px;
		line-height: 30px;
		text-align: center;
		font-weight: bold;
		font-size: 1.5rem;
		@include sp{
			font-size: 1.3rem;
		}
	}
	p{
		color: #3c3c3c;
		margin-left: 11px;
		font-size: 1.5rem;
		@include sp{
			margin-left: 0px;
			margin-top: 11px;
			text-align: center;
			font-size: 1.2rem;
		}
	}
	&__green{
		background: #33c49d;
		width: 248px;
		@include sp{
			width: 100%;
		}
	}
	&__blue{
		background: #0080ae;
		width: 96px;
		margin-left: 30px;
		@include sp{
			width: 100%;
			margin-left: 0;
			margin-top: 12px;
		}
	}
}